:root {
  --colors-background-brand-default: #23d2d7;
  --colors-background-brand-hover: #00838f;
  --colors-background-brand-secondary: #a7edef;
  --colors-background-brand-secondary-hover: #7be4e7;
  --colors-background-danger-default: #ec221f;
  --colors-background-danger-hover: #c00f0c;
  --colors-background-danger-secondary: #fdd3d0;
  --colors-background-danger-secondary-hover: #fcb3ad;
  --colors-background-danger-tertiary: #fee9e7;
  --colors-background-danger-tertiary-hover: #fdd3d0;
  --colors-background-default-default: #ffffff;
  --colors-background-default-default-hover: #f5f5f5;
  --colors-background-default-secondary: #f5f5f5;
  --colors-background-default-secondary-hover: #e6e6e6;
  --colors-background-default-tertiary: #d9d9d9;
  --colors-background-default-tertiary-hover: #b3b3b3;
  --colors-background-disabled-default: #d9d9d9;
  --colors-background-neutral-default: #5a5a5a;
  --colors-background-neutral-hover: #434343;
  --colors-background-neutral-secondary: #cdcdcd;
  --colors-background-neutral-secondary-hover: #b2b2b2;
  --colors-background-neutral-tertiary: #e3e3e3;
  --colors-background-neutral-tertiary-hover: #cdcdcd;
  --colors-background-positive-default: #14ae5c;
  --colors-background-positive-hover: #009951;
  --colors-background-positive-secondary: #cff7d3;
  --colors-background-positive-secondary-hover: #aff4c6;
  --colors-background-positive-tertiary: #ebffee;
  --colors-background-positive-tertiary-hover: #cff7d3;
  --colors-background-warning-default: #e8b931;
  --colors-background-warning-hover: #e5a000;
  --colors-background-warning-secondary: #fff1c2;
  --colors-background-warning-secondary-hover: #fff1c2;
  --colors-background-warning-tertiary: #fffbeb;
  --colors-background-warning-tertiary-hover: #fff1c2;
  --colors-border-brand-default: #23d2d7;
  --colors-border-brand-secondary: #168487;
  --colors-border-brand-tertiary: #1a9ea1;
  --colors-border-danger-default: #900b09;
  --colors-border-danger-secondary: #c00f0c;
  --colors-border-danger-tertiary: #ec221f;
  --colors-border-default-default: #d9d9d9;
  --colors-border-default-secondary: #757575;
  --colors-border-default-tertiary: #383838;
  --colors-border-disabled-default: #b3b3b3;
  --colors-border-neutral-default: #303030;
  --colors-border-neutral-secondary: #767676;
  --colors-border-neutral-tertiary: #b2b2b2;
  --colors-border-positive-default: #02542d;
  --colors-border-positive-secondary: #009951;
  --colors-border-positive-tertiary: #14ae5c;
  --colors-border-warning-default: #522504;
  --colors-border-warning-secondary: #975102;
  --colors-border-warning-tertiary: #bf6a02;
  --colors-icon-brand-default: #0e4f51;
  --colors-icon-brand-on-brand: #093536;
  --colors-icon-brand-on-brand-secondary: #093536;
  --colors-icon-brand-on-brand-tertiary: #0e4f51;
  --colors-icon-brand-secondary: #168487;
  --colors-icon-danger-default: #900b09;
  --colors-icon-danger-on-danger: #fee9e7;
  --colors-icon-danger-on-danger-secondary: #900b09;
  --colors-icon-danger-on-danger-tertiary: #900b09;
  --colors-icon-danger-secondary: #c00f0c;
  --colors-icon-danger-tertiary: #ec221f;
  --colors-icon-default-default: #1e1e1e;
  --colors-icon-default-secondary: #757575;
  --colors-icon-default-tertiary: #b3b3b3;
  --colors-icon-disabled-default: #b3b3b3;
  --colors-icon-neutral-default: #303030;
  --colors-icon-neutral-on-neutral: #f3f3f3;
  --colors-icon-neutral-on-neutral-secondary: #303030;
  --colors-icon-neutral-on-neutral-tertiary: #434343;
  --colors-icon-neutral-secondary: #5a5a5a;
  --colors-icon-neutral-tertiary: #767676;
  --colors-icon-positive-default: #02542d;
  --colors-icon-positive-on-positive: #ebffee;
  --colors-icon-positive-on-positive-secondary: #02542d;
  --colors-icon-positive-on-positive-tertiary: #024023;
  --colors-icon-positive-secondary: #009951;
  --colors-icon-positive-tertiary: #14ae5c;
  --colors-icon-warning-default: #522504;
  --colors-icon-warning-on-warning: #401b01;
  --colors-icon-warning-on-warning-secondary: #682d03;
  --colors-icon-warning-on-warning-tertiary: #522504;
  --colors-icon-warning-secondary: #975102;
  --colors-icon-warning-tertiary: #bf6a02;
  --colors-text-brand-default: #0e4f51;
  --colors-text-brand-on-brand: #093536;
  --colors-text-brand-on-brand-secondary: #093536;
  --colors-text-brand-on-brand-tertiary: #0e4f51;
  --colors-text-brand-secondary: #168487;
  --colors-text-brand-tertiary: #1a9ea1;
  --colors-text-danger-default: #900b09;
  --colors-text-danger-on-danger: #fee9e7;
  --colors-text-danger-on-danger-secondary: #900b09;
  --colors-text-danger-on-danger-tertiary: #900b09;
  --colors-text-danger-secondary: #c00f0c;
  --colors-text-danger-tertiary: #ec221f;
  --colors-text-default-default: #1e1e1e;
  --colors-text-default-secondary: #757575;
  --colors-text-default-tertiary: #b3b3b3;
  --colors-text-disabled-default: #b3b3b3;
  --colors-text-disabled-on-disabled: #b3b3b3;
  --colors-text-neutral-default: #303030;
  --colors-text-neutral-on-neutral: #f3f3f3;
  --colors-text-neutral-on-neutral-secondary: #303030;
  --colors-text-neutral-on-neutral-tertiary: #434343;
  --colors-text-neutral-secondary: #5a5a5a;
  --colors-text-neutral-tertiary: #767676;
  --colors-text-positive-default: #02542d;
  --colors-text-positive-on-positive: #ebffee;
  --colors-text-positive-on-positive-secondary: #02542d;
  --colors-text-positive-on-positive-tertiary: #02542d;
  --colors-text-positive-secondary: #009951;
  --colors-text-positive-tertiary: #14ae5c;
  --colors-text-warning-default: #522504;
  --colors-text-warning-on-warning: #401b01;
  --colors-text-warning-on-warning-secondary: #682d03;
  --colors-text-warning-on-warning-tertiary: #522504;
  --colors-text-warning-secondary: #975102;
  --colors-text-warning-tertiary: #bf6a02;
  --effects-blur-100: 4px;
  --effects-blur-glass-blur: 4px;
  --effects-blur-glass-type: backgroundBlur;
  --effects-blur-layer-blur: 4px;
  --effects-blur-layer-type: layerBlur;
  --effects-blur-overlay-blur: 4px;
  --effects-blur-overlay-type: backgroundBlur;
  --effects-drop-shadow-100: [{"x":"0px","y":"1px","blur":"4px","spread":"0px","color":"#0c0c0d","opacity":0.05}];
  --effects-drop-shadow-200: [{"x":"0px","y":"1px","blur":"4px","spread":"0px","color":"#0c0c0d","opacity":0.05},{"x":"0px","y":"1px","blur":"4px","spread":"0px","color":"#0c0c0d","opacity":0.1}];
  --effects-drop-shadow-300: [{"x":"0px","y":"4px","blur":"4px","spread":"-1px","color":"#0c0c0d","opacity":0.05},{"x":"0px","y":"4px","blur":"4px","spread":"-1px","color":"#0c0c0d","opacity":0.1}];
  --effects-drop-shadow-400: [{"x":"0px","y":"4px","blur":"4px","spread":"-4px","color":"#0c0c0d","opacity":0.05},{"x":"0px","y":"16px","blur":"32px","spread":"-4px","color":"#0c0c0d","opacity":0.1}];
  --effects-drop-shadow-500: [{"x":"0px","y":"4px","blur":"4px","spread":"-4px","color":"#0c0c0d","opacity":0.05},{"x":"0px","y":"16px","blur":"16px","spread":"-8px","color":"#0c0c0d","opacity":0.1}];
  --effects-drop-shadow-600: [{"x":"0px","y":"16px","blur":"32px","spread":"-8px","color":"#0c0c0d","opacity":0.4}];
  --effects-inner-shadow-100: [{"x":"0px","y":"1px","blur":"4px","spread":"0px","color":"#0c0c0d","opacity":0.05}];
  --effects-inner-shadow-200: [{"x":"0px","y":"1px","blur":"4px","spread":"0px","color":"#0c0c0d","opacity":0.05}];
  --effects-inner-shadow-300: [{"x":"0px","y":"4px","blur":"4px","spread":"-1px","color":"#0c0c0d","opacity":0.05}];
  --effects-inner-shadow-400: [{"x":"0px","y":"16px","blur":"32px","spread":"-4px","color":"#0c0c0d","opacity":0.1}];
  --effects-inner-shadow-500: [{"x":"0px","y":"16px","blur":"16px","spread":"-8px","color":"#0c0c0d","opacity":0.1}];
  --effects-inner-shadow-600: [{"x":"0px","y":"16px","blur":"32px","spread":"-8px","color":"#0c0c0d","opacity":0.4}];
  --icon-size-large: 40px;
  --icon-size-medium: 32px;
  --icon-size-small: 24px;
  --radius-100: 4px;
  --radius-200: 8px;
  --radius-400: 16px;
  --radius-full: 9999px;
  --size-text-sm: 16px;
  --size-text-xs: 12px;
  --spacing-0: 0px;
  --spacing-050: 2px;
  --spacing-100: 4px;
  --spacing-1200: 48px;
  --spacing-150: 6px;
  --spacing-1600: 64px;
  --spacing-200: 8px;
  --spacing-2400: 96px;
  --spacing-300: 12px;
  --spacing-400: 16px;
  --spacing-4000: 160px;
  --spacing-600: 24px;
  --spacing-800: 32px;
  --spacing-negative100: -4px;
  --spacing-negative200: -8px;
  --spacing-negative300: -12px;
  --spacing-negative400: -16px;
  --spacing-negative600: -24px;
  --typography-body-base-font-family: Inter;
  --typography-body-base-font-size: 12px;
  --typography-body-base-font-style: normal;
  --typography-body-base-font-weight: 400;
  --typography-body-base-letter-spacing: 0em;
  --typography-body-base-line-height: 110%;
  --typography-body-code-font-family: Roboto Mono;
  --typography-body-code-font-size: 12px;
  --typography-body-code-font-style: normal;
  --typography-body-code-font-weight: 400;
  --typography-body-code-letter-spacing: 0em;
  --typography-body-code-line-height: 130%;
  --typography-body-emphasis-font-family: Inter;
  --typography-body-emphasis-font-size: 16px;
  --typography-body-emphasis-font-style: italic;
  --typography-body-emphasis-font-weight: 400;
  --typography-body-emphasis-letter-spacing: 0em;
  --typography-body-emphasis-line-height: 140%;
  --typography-body-link-font-family: Inter;
  --typography-body-link-font-size: 16px;
  --typography-body-link-font-style: normal;
  --typography-body-link-font-weight: 400;
  --typography-body-link-letter-spacing: 0em;
  --typography-body-link-line-height: 140%;
  --typography-body-small-font-family: Inter;
  --typography-body-small-font-size: 14px;
  --typography-body-small-font-style: normal;
  --typography-body-small-font-weight: 400;
  --typography-body-small-letter-spacing: 0em;
  --typography-body-small-line-height: 140%;
  --typography-body-small-strong-font-family: Inter;
  --typography-body-small-strong-font-size: 14px;
  --typography-body-small-strong-font-style: normal;
  --typography-body-small-strong-font-weight: 600;
  --typography-body-small-strong-letter-spacing: 0em;
  --typography-body-small-strong-line-height: 140%;
  --typography-body-strong-font-family: Inter;
  --typography-body-strong-font-size: 16px;
  --typography-body-strong-font-style: normal;
  --typography-body-strong-font-weight: 600;
  --typography-body-strong-letter-spacing: 0em;
  --typography-body-strong-line-height: 140%;
  --typography-heading-font-family: Inter;
  --typography-heading-font-size: 24px;
  --typography-heading-font-style: normal;
  --typography-heading-font-weight: 600;
  --typography-heading-letter-spacing: -0.02em;
  --typography-heading-line-height: 120%;
  --typography-input-font-family: Inter;
  --typography-input-font-size: 16px;
  --typography-input-font-style: normal;
  --typography-input-font-weight: 400;
  --typography-input-letter-spacing: 0em;
  --typography-input-line-height: 100%;
  --typography-single-line-base-font-family: Inter;
  --typography-single-line-base-font-size: 16px;
  --typography-single-line-base-font-style: normal;
  --typography-single-line-base-font-weight: 400;
  --typography-single-line-base-letter-spacing: 0em;
  --typography-single-line-base-line-height: 100%;
  --typography-single-line-small-strong-font-family: Inter;
  --typography-single-line-small-strong-font-size: 14px;
  --typography-single-line-small-strong-font-style: normal;
  --typography-single-line-small-strong-font-weight: 600;
  --typography-single-line-small-strong-letter-spacing: 0em;
  --typography-single-line-small-strong-line-height: 100%;
  --typography-subheading-font-family: Inter;
  --typography-subheading-font-size: 20px;
  --typography-subheading-font-style: normal;
  --typography-subheading-font-weight: 400;
  --typography-subheading-letter-spacing: 0em;
  --typography-subheading-line-height: 120%;
  --typography-subtitle-font-family: Inter;
  --typography-subtitle-font-size: 32px;
  --typography-subtitle-font-style: normal;
  --typography-subtitle-font-weight: 400;
  --typography-subtitle-letter-spacing: 0em;
  --typography-subtitle-line-height: 120%;
  --typography-title-hero-font-family: Inter;
  --typography-title-hero-font-size: 64px;
  --typography-title-hero-font-style: normal;
  --typography-title-hero-font-weight: 700;
  --typography-title-hero-letter-spacing: -0.03em;
  --typography-title-hero-line-height: 120%;
  --typography-title-page-font-family: Inter;
  --typography-title-page-font-size: 48px;
  --typography-title-page-font-style: normal;
  --typography-title-page-font-weight: 700;
  --typography-title-page-letter-spacing: -0.02em;
  --typography-title-page-line-height: 120%;
}
